body {
    background-color: #000000 !important;
    color: #e0e0e0 !important;
  }

  
  /* suppress avatars */
  img[src*="profile_images"] {
    display: none !important;
  }

  [aria-label="Timeline: Trending now"],
  [aria-label="Who to follow"],
  [data-testid="icon-verified"] {
    display: none !important;
  }

  /* optionally hide tweet timestamps */
  time {
    display: none !important;
  }
  
  /* override font everywhere */
  * {
    font-family: "IBM Plex Mono", monospace !important;
    font-size: 14px !important;
  }
  
  [aria-label="Timeline: Trending now"],
[aria-label="Who to follow"] {
  display: none !important;
}
